In [6]:
import pandas as pd
columns = ['race', 'gender', 'age', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'a1cresult', 'diabetesmed', 'readmitted', 'num_meds_changed', 'total_hosp_visits']
df = pd.read_json('df_json.json')

In [7]:
df.columns = columns

In [8]:
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,a1cresult,diabetesmed,readmitted,num_meds_changed,total_hosp_visits
0,Caucasian,0,8,Emergency,Discharged to Home,Other,13,68,2,28,7,7,1,8,0,0,1,0,0,0
1,Caucasian,0,9,Elective,Other,Other,12,33,3,18,7,2,8,8,0,0,1,0,0,0
2,AfricanAmerican,1,6,Emergency,Other,Emergency Room,12,75,5,13,17,8,17,9,0,0,1,0,1,0
3,Caucasian,0,5,Emergency,Discharged to Home,Emergency Room,3,29,0,11,12,2,3,3,0,0,1,0,0,0
4,AfricanAmerican,1,7,Emergency,Discharged to Home,Emergency Room,5,35,5,23,7,7,7,9,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58875,Other,0,3,Emergency,Discharged to Home,Emergency Room,3,30,1,10,16,16,3,9,0,0,1,0,0,0
58876,Other,1,7,Emergency,Other,Emergency Room,8,67,3,35,9,3,3,9,0,0,1,0,1,1
58877,Hispanic,1,3,Elective,Other,Referral,5,1,1,23,6,6,17,7,0,0,1,0,0,0
58878,Caucasian,1,5,Emergency,Discharged to Home,Referral,3,57,0,7,12,3,7,3,0,3,1,0,0,1
58879,Other,1,4,Emergency,Discharged to Home,Emergency Room,13,51,2,13,3,13,13,9,0,0,1,0,1,0

In [13]:
group_df = df.groupby(['diag_1']).sum()

In [14]:
count_df = df.groupby(['diag_1']).count()

In [17]:
group_df['count'] = count_df['gender']

group_df['readm%'] = group_df['readmitted']/group_df['count']

In [28]:
final_df = group_df

In [29]:
final_df.to_json('highestreadm.js', orient='values')

In [30]:
final_df

,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_2,diag_3,number_diagnoses,max_glu_serum,a1cresult,diabetesmed,readmitted,num_meds_changed,total_hosp_visits,count,readm%
diag_1,,,,,,,,,,,,,,,,,
1,709,9760,8350,80551,1342,25075,12412,11355,12446,155,575,1164,577,455,1211,1550,0.372258
2,1027,13877,11576,86697,4926,38386,13306,13715,15800,118,424,1593,623,504,1279,2210,0.281900
3,2888,31765,25047,266562,5286,82223,45977,44453,42037,699,4269,4882,2265,2456,5295,5916,0.382860
4,214,3812,2364,27151,882,7710,4053,4060,4655,43,127,435,255,124,534,600,0.425000
5,574,6576,7583,53292,513,15127,7819,7732,8698,111,691,1001,458,333,1046,1276,0.358934
6,314,4619,3365,32445,519,10035,5211,4670,5468,38,314,569,242,153,643,753,0.321381
7,9674,118290,77647,818749,39530,318295,132939,122165,138866,1208,7642,14238,7054,4624,11929,18579,0.379676
8,2556,37436,29195,272281,3658,101037,40438,38132,44906,755,2159,4685,2381,1900,4657,5828,0.408545
9,2599,34397,24562,257619,8343,83265,38499,36677,41926,606,1544,3743,2019,1100,4090,5705,0.353900
10,1264,19780,12868,146587,3296,45331,20854,20317,23986,180,1083,2327,1096,784,2558,3152,0.347716
11,0,1221,1550,15230,813,6229,4211,3615,3198,4,95,295,74,132,543,474,0.156118
12,780,8533,7382,63126,1158,22928,10458,9904,11166,176,943,1256,579,561,1163,1532,0.377937
13,1383,19734,12488,105505,5483,64250,23900,21757,21646,150,678,2582,1014,711,1901,3251,0.311904
14,21,196,177,1667,82,825,339,264,274,0,17,29,9,9,30,38,0.236842
16,2059,28345,12902,202662,3600,56592,33245,31274,34464,327,2197,3487,1634,821,3286,4820,0.339004
17,1426,19902,14812,131659,5327,54465,26273,23886,24537,143,794,2387,1109,823,2247,3196,0.346996